body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary-color: #00539CFF;
    --secondary-color: #EEA47FFF;
}



/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 412px;
    margin: auto;
}

/** LINKS **/

.links {

    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.primary-link {
    
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: whitesmoke;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
}

hr {
    margin: 2rem 0rem;
}

/** list css **/
.list-non-bullet {
    list-style: none;
}

.inline-list {
    display: inline;
    padding: 0rem 0.5rem;
}

/** nav **/

.nav-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: whitesmoke;
}

.navigation {
    background-color: var(--secondary-color);
    padding: 0.25rem 0.25rem;
    border-bottom-left-radius: 2rem;
}

.nav-brand {
    padding: 0.25rem;
    font-weight: 900;

}

.nav-button {
    text-align: right;
}

.link-active {
    font-weight: bold;
}

/** header **/
.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading {

    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
}

/** section **/
.section{
    padding: 2rem;
}
.section h3 {
    text-align: center;
  
}

.offwhite-section{
    background-color: rgb(246, 243, 243);
}

/** footer **/
.footer{
    background-color: var(--secondary-color);
    padding: 2rem 1rem ;
    border-top-right-radius: 2rem;
}
.social-links{
    text-align: center;
}

.footer-ul{
    padding-inline-start: 0px;
}


